.deb {
  border: 2px solid red;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url('./assets/images/background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
}

.flex {
  display: 'flex';
}

.centerH {
  justify-content: center;
}

.centerY {
  align-items: center;
}
